{% extends 'base.html' %}

{% block content %}
  <div class="container mt-1">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form method="post" class="form">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Name:</label>
            <input id="name"
                   type="text"
                   name="name"
                   class="form-control"
                   value="{{ contact.name }}"
                   required />
          </div>
          {% for phone_number in contact.phone_numbers.all %}
            <div id="phone-numbers">
              <div class="form-group phone-number">
                <div class="row">
                  <div class="col-md-4">
                    <label for="codes">Country Code:</label>
                    <select id="codes"
                            name="codes[]"
                            class="form-control"
                            value="{{ phone_number.country_code.name }} {{ phone_number.country_code.code }}"
                            required>
                      {% for country_code in country_codes %}
                        <option value="{{ country_code.code }}">{{ country_code.name }} {{ country_code.code }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-8">
                    <label for="numbers">Number:</label>
                    <input id="numbers"
                           type="number"
                           name="numbers[]"
                           class="form-control"
                           value="{{ phone_number.number }}"
                           required />
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-success mt-1">Save</button>
          <button type="button" id="add-phone-number" class="btn btn-secondary mt-1">Add Phone Number</button>
        </form>
      </div>
    </div>
  </div>
  <script>
    document.getElementById('add-phone-number').addEventListener('click', function() {
      var phoneNumbers = document.getElementById('phone-numbers');
      var newPhoneNumber = phoneNumbers.getElementsByClassName('phone-number')[0].cloneNode(true);
      phoneNumbers.appendChild(newPhoneNumber);
    });
  </script>
{% endblock content %}
